/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# 추가 제외 대상
node_modules/
public/
Laravel_backup/
.env
BPM.py
channel.js
DB_check.bat
now_playlist_update.js
dbModule.js
